@media only screen and (max-width:768px) {

    body {
        width: 110%;
        margin: 0px;
    }

    header {
        background: white;
        display: flex;
        width: 100%;
        position: sticky;
        top: 0;
        margin-left: 10px;
    }

    nav a {
        color: black;
        text-decoration-line: none;
        float: left;
        margin-left: 15px;
        margin-right: 25px;
        padding: 10px;
        margin-bottom: 15px;
        font-size: 20px;
    }

    nav a:hover {
        text-decoration-line: underline;
        color: aqua;
    }

    .header_galeria {
        width: 100%;
    }

    .section_header img {
        width: 100%;
        height: 200px;
    }

    .texto_en_imagen {
        color: white;
        position: absolute;
        top: 10%;
        left: 10%;
        transform: translate(-10%, -10%);
        margin-left: 30px;
    }

    /*Ajuste de sobre nosoltres*/
    #sn {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 40px;
        font-weight: bold;
        text-align: center;
        padding: 50px;
    }

    .Contedor_imagenYtexto2 {
        width: 90%;
        margin-left: 5%;
    }

    .contenedor_imagen1 img {
        width: 100%;
        border-radius: 10px;

    }

    .Contedor_imagenYtexto2 img {
        width: 100%;
        border-radius: 10px;
    }

    #lorem_texto {
        text-align: justify;

    }

    section {
        width: 85%;
        text-align: center;
        margin-left: 2%;
    }

    .grid-container {
        margin: 10px;
        width: 90%;
        margin-left: 5%;
        display: grid;
        grid-template-areas: 'm m t'
            'm m i'
            'm m i2'
        ;
    }

    .grid-container img {
        width: 550px;
        border-radius: 5px;
    }

    .menu {
        background-color: rgb(14, 14, 84);
        width: 90%;
        margin-left: 5%;
        height: 50px;
        color: white;
        font: bold;
        font-family: 'Courier New', Courier, monospace;
        padding-top: 4%;
        font-size: 20px;
    }



    .item1 {
        grid-area: m;
        border: solid 1px blue;
        padding: 5%;
        padding-top: 500%;
    }



    .item2 {
        text-align: justify;
        padding: 5%;
        grid-area: t;
    }

    .item3 {
        padding: 5%;
        grid-area: i;

    }

    .item4 {
        padding: 5%;
        grid-area: i2;
    }

    .texto_1 {
        font-weight: bold;
        font-size: 30px;
        margin-bottom: 5%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        margin-left: 5%;
    }

    .galeria{
        margin-left: 2%;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .galeria img:hover{
        border-right-style: double;
        border-top-style: double;
        border-left-style: double;
        border-bottom-style: double;
    
    }

    .galeria img {
        margin-left: 5%;
        width: 300px;
        border-radius: 10%;
        padding: 10px;
    }

    .galeria .ima1, .ima4,.ima5,.ima8{
        filter: brightness(40%)
    }

    footer{
        background-color: black;
        color: white;
        padding: 10px;
        position: relative;
        width: 9 0%;
        }
        
        footer div{
            margin: 10px;
            height: 20px;
        }
        footer img{
            margin-right: 10px;
        }
        
        footer p{
            margin-top: 0px;
        }
        
        .correo{
            display: flex;
            float: left;
        }
        
        .telefono{
            display: flex;
        }
        
        .Hecho{
            float: right;
            margin-top: -30px;
        }
        
        
        footer p{
            font-family: sans-serif;
        }

}